<!DOCTYPE html>
<html>
  <head>
    <title>RubyApp</title>
    
  </head>

  <body>
    <h1>Home</h1>
    <p>whats up bitchessss</p>
    <p>hello</p>
    <%= link_to 'Sign up', new_user_registration_path %>
    <br/>
    <%= link_to 'Log in', new_user_session_path %>
    <br/>
    <% if user_signed_in? %>
      <%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
    <% end %>
    <br/r>
    <br/r>
    <br/r>
  </body>
</html>


