<!DOCTYPE html>
<html>
  <head>
    <title>RubyApp</title>
    
  </head>

  <body>
    <h1>Home</h1>
    <p>whats up bitchessss</p>
    <%= link_to 'Sign up', new_user_registration_path %>
    <br/>
    <%= link_to 'Log in', new_user_session_path %>

  </body>
</html>


